node_modules
**/node_modules
**/.next
.git
.data
.auth
.work
artifacts
.env
*.tsbuildinfo

.tools

.agents
release
.lzc-build-cache
*.lpk

.lzc-cli-cache

lzc-build-image-context.tar
__pycache__/

Dockerfile

deepseek_api

.playwright-cli/
output/playwright/
